.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.navOpen {
    height: 100;
    display: flex;
    width: 100;
    background-color: brown;
}